body {
  position: relative;
  background-color: rgb(96, 107, 119);
}

#logo {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  background-color: rgb(218, 16, 16);
  color: white;
  width: 40px;
}

.card {
  min-height: 125px;
}

#about-circle {
  float: left;
  width: 240px;
  height: 240px;
  margin: 5px;
  shape-outside: circle(45% at 10%);
  clip-path: circle(50% at 0%);
  background: lightblue;
}

.contact-link {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.699);
  box-shadow: 0 5px 50px 0 rgba(34, 68, 54, 0.37);
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

article {
  flex: 1 0 auto;
}

.no-uppercase {
  text-transform: none;
}
