body {
  position: relative;
  background-color: rgb(96, 107, 119);
  padding: 90px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#logo {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  background-color: rgb(218, 16, 16);
  color: white;
  width: 40px;
}

.card {
  min-height: 125px;
}

#about-circle {
  float: left;
  width: 240px;
  height: 240px;
  margin: 5px;
  shape-outside: circle(45% at 10%);
  clip-path: circle(50% at 0%);
  background: lightblue;
}

.contact-link {
  font-family: "Work Sans", sans-serif;
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 5.1rem;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 10px 10px 0 rgba(34, 68, 54, 0.37);
}
.contact-logo {
  font-family: "Work Sans", sans-serif;
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 4rem;
  box-shadow: 0 10px 10px 0 rgba(34, 68, 54, 0.37);
}
